// --------- BREAKPOINTS ----------------
$LAYOUT-BREAKPOINT-LARGE:1920px;
$LAYOUT-BREAKPOINT-MEDIUM:1440;
$LAYOUT-BREAKPOINT-SMALL: 960px;
$LAYOUT-BREAKPOINT-XSMALL:480px;

//---------- BACKGROUND COLORS -----------
//BACKGROUND MAIN
$BKGROUND-MAIN:#ffffff;

// --------  TEXTCOLORS ----------------
//  TITLES
$TXT-TITLE-COLOR:#FFFF;
// MAIN TEXT
$TXT-MAIN-COLOR: #FFFF;

                                           
// --------- BUTTON TEXT COLORS ----------
$TXT-BTN-COLOR: #FFFF;
$TXT-INVERT-COLOR: #FFFF;

// ---------- BUTTON COLORS --------------
$BTN-COLOR-MAIN: #FFFF;
$BTN-OUTLINE-COLOR:#FFFF;
$BTN-COLOR-INVERT:#FFFF;

// ---------- FONT SIZES -----------------

$FTSIZE-UPPER: 24px;
$FTSIZE-UPPERDOWN: 18px;
$FTSIZE-MEDIUM: 14px;
$FTSIZE-LOW: 12px;



