// --------- BREAKPOINTS ----------------
$LAYOUT-BREAKPOINT-LARGE:1920px;
$LAYOUT-BREAKPOINT-MEDIUM:1440;
$LAYOUT-BREAKPOINT-SMALL: 960px;
$LAYOUT-BREAKPOINT-XSMALL:480px;

//---------- BACKGROUND COLORS -----------
//BACKGROUND MAIN
$BKGROUND-MAIN:#101014;

$BKGROUND-COLR-CARD:#1c1c21;

// --------  TEXTCOLORS ----------------
//  TITLES
$TXT-TITLE-COLOR:#e7e7e7;
// MAIN TEXT
$TXT-MAIN-COLOR: #98989a;

                                           
// --------- BUTTON TEXT COLORS ----------
$TXT-BTN-COLOR: #1A1B1D;
$TXT-INVERT-COLOR: #FFFF;

// ---------- BUTTON COLORS --------------
$BTN-COLOR-MAIN: #03a0c9;
$BTN-OUTLINE-COLOR:#FFFF;
$BTN-COLOR-INVERT:#FFFF;

// ---------- FONT SIZES -----------------

$FTSIZE-UPPER: 24px;
$FTSIZE-UPPERDOWN: 18px;
$FTSIZE-MEDIUM: 14px;
$FTSIZE-LOW: 12px;


/// -------- BORDER COLORS --------------
$BORD_COLOR: #27272c;



/// -------- SIZES --------------------

// --------- BORDER RADIUS ------------
$RADIUS-BRD-BTN: 12px;

// --------- PADDING SIZE -------------
$PADDING-BTN:12px;
