@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul, li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  background: #101014;
}

li, h1, h2, p, div, button {
  font-family: Outfit;
  font-weight: 400;
}

#navbar {
  top: 0;
  right: calc(width);
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  background-color: #101014;
  backdrop-filter: blur(10px);
  z-index: 1;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 14px;
}
#navbar ul {
  display: flex;
  flex-direction: row;
  color: #a9a9a9;
  gap: 42px;
}
#navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
}
#navbar li img {
  margin: 0;
  margin-top: 3px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li:hover {
  color: white;
}

.logo {
  display: flex;
}
.logo img {
  width: 148px;
  cursor: pointer;
  margin-right: 124px;
}

.home {
  height: 100vh;
  background-color: #101014;
}

.anim-mouse {
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 58px;
  right: 50%;
  transform: translateX(50%);
  z-index: 99;
  height: 74px;
  width: 48px;
  border-radius: 33px;
  border: 3px solid #d6d6d6;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.anim-mouse:hover {
  border: 3px solid rgba(214, 214, 214, 0.6196078431);
}

.anim-mouse.show {
  opacity: 1;
}

.mouser-int {
  width: 12px;
  height: 12px;
  background-color: #d6d6d6;
  border-radius: 100%;
  animation: scrollDown 1.5s infinite ease-in-out;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-10px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0.3;
  }
}
.options-nav {
  display: block;
}

#margin-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 100px;
}

.focus-area-hover {
  top: 4%;
  left: 0;
  position: fixed;
  height: 24px;
  width: 100%;
  background-color: transparent;
}
.focus-area-hover:hover ~ .dropdown .window {
  display: block;
}

.window {
  margin-top: 18.5px;
  top: 100%;
  right: 0;
  position: absolute;
  display: none;
  background-color: rgba(26, 27, 29, 0.3843137255);
  border: 0.3px solid #25262a;
  border-radius: 12px;
  color: #a9a9a9;
}
.window p {
  padding: 8px;
  width: 82px;
  cursor: pointer;
}
.window p:hover {
  background-color: rgb(169, 169, 169);
  display: block;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  position: relative;
}
.dropdown:hover .window {
  display: block;
}

.contact-us-btn {
  width: 180px;
  background-color: #03a0c9;
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  color: #1A1B1D;
  font-size: 18px;
}
.contact-us-btn:hover {
  background-color: #3516ce;
}

#drop-language {
  cursor: pointer;
}

.outline {
  border: 1px solid #27272c;
  padding: 12px;
  border-radius: 12px;
  background-color: #1c1c21;
}

#title-home {
  margin-top: 94px;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #e7e7e7;
}

#description-home {
  font-size: 20px;
  width: 54%;
  color: #98989a;
  margin-bottom: 24px;
}

.outline-home-btn {
  width: fit-content;
  border: 1px solid #27272c;
  background-color: #1c1c21;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  color: #e7e7e7;
  font-size: 18px;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #03a0c9;
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  color: #1A1B1D;
  font-size: 18px;
  gap: 10px;
}
.home-btn:hover {
  background-color: #3516ce;
}

.wrapper-btns {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  gap: 0.8%;
}

.trusted-companies {
  background-color: #101014;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h2 {
  font-size: 24px;
  color: #929292;
  font-weight: 400;
  margin-top: 32px;
}

.wrapper-companies-trusted {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 474px;
  width: 100%;
  font-size: 24px;
}
.wrapper-companies-trusted h2 {
  margin-top: 24px;
  text-align: center;
  color: #d6d6d6;
  font-weight: 400;
}

.data-companies-trusted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 32px;
  color: #929292;
  font-size: 18px;
}
.data-companies-trusted #data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.data-companies-trusted #data img {
  width: 28px;
}

.wrapper-images-trusted {
  width: 100%;
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-companies-trusted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-left: 24px;
  padding-right: 24px;
}
.images-companies-trusted img {
  margin: 24px;
  width: 9%;
  filter: brightness(0) invert(1);
}

.w100 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-description {
  background-color: #101014;
}
.products-description p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  font-size: 24px;
  color: #929292;
}
.products-description h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6d6d6;
}
.products-description .chip {
  font-size: 18px;
  color: #d6d6d6;
  justify-content: center;
  border: 1px solid #1CE6D0;
  border-radius: 32px;
  padding: 12px;
  margin-bottom: 24px;
}
.products-description .wrapper-card-products {
  padding: 68px 68px 0 68px;
  display: flex;
  gap: 28px;
}
.products-description .card-voice {
  width: 40%;
  height: 484px;
  border-radius: 18px;
  background-color: #0194c0;
  padding: 24px;
}
.products-description .card-voice h2 {
  font-size: 32px;
  color: #d6d6d6;
  margin-top: 52px;
  font-weight: 500;
}
.products-description .card-voice p {
  font-size: 20px;
  text-align: left;
}
.products-description .card-voice span {
  color: #d6d6d6;
}
.products-description .card-message {
  padding: 24px;
  border: 2px solid #27272c;
  background-color: #1c1c21;
  border-radius: 18px;
  width: 60%;
}
.products-description .card-message h1 {
  display: flex;
  justify-content: start;
  margin-top: 32px;
  margin-bottom: 32px;
}
.products-description .card-message span {
  color: #d6d6d6;
}
.products-description .card-message h2 {
  margin-top: 32px;
  font-size: 32px;
  font-weight: 500;
  color: #d6d6d6;
}
.products-description .card-message p {
  font-size: 20px;
  text-align: left;
}
.products-description .product-data {
  margin-top: 32px;
  display: flex;
  align-items: baseline;
}
.products-description .product-data img {
  width: 20px;
}
.products-description .product-data h1 {
  margin: 0;
}
.products-description .features-product {
  padding-left: 68px;
  padding-right: 68px;
  display: flex;
  width: 100%;
  gap: 32px;
}
.products-description .features-product .feature {
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: end;
  height: 322px;
}
.products-description .features-product .feature h1 {
  text-align: left;
  font-size: 26px;
}
.products-description .features-product .feature p {
  font-size: 18px;
  text-align: left;
}
.products-description .features-product .feature img {
  width: 32%;
  margin-bottom: 48px;
}
.products-description .know-u-product {
  padding: 148px 68px 0 68px;
  width: 100%;
}
.products-description .know-u-product .wrapper-window-product {
  margin-top: 62px;
  display: flex;
  height: 100%;
  width: 100%;
}
.products-description .know-u-product .left-window-product {
  width: 35%;
}
.products-description .know-u-product .right-window-product {
  width: 60%;
}
.products-description .know-u-product .card-drop {
  padding: 18px;
  border: 1px solid #1A1B1D;
  background-color: #101113;
  cursor: pointer;
  margin-bottom: 18px;
  gap: 28px;
}
.products-description .know-u-product .card-drop p {
  font-size: 18px;
  text-align: left;
}
.products-description .know-u-product h3 {
  color: #d6d6d6;
  font-size: 20px;
}
.products-description .know-u-product h1 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.products-description .know-u-product .chip {
  border-color: #3516ce;
  width: fit-content;
}
.products-description .container-btn-change {
  display: flex;
}
.products-description .container-btn-change h1 {
  padding: 8px;
  font-size: 21px;
}
.products-description .container-btn-change span {
  width: 100%;
  color: #a9a9a9;
  display: flex;
  align-items: center;
  justify-content: end;
}
.products-description .container-btn-change .option-visible {
  cursor: pointer;
  width: 124px;
  color: #d6d6d6;
  background-color: #3E1CE6;
}
.products-description .container-btn-change .option-hidden {
  padding-left: 20px;
  cursor: pointer;
  width: 124px;
  color: #5b5c60;
}
.products-description .container-btn-change .option-hidden:hover {
  color: #a9a9a9;
}
.products-description .container-drops {
  padding-top: 28px;
  border-top: 1px solid #1A1B1D;
}

.events-news {
  background-color: #101014;
  padding-top: 132px;
}
.events-news .chip {
  font-size: 18px;
  color: #d6d6d6;
  justify-content: center;
  border: 1px solid #1CE6D0;
  border-radius: 32px;
  padding: 12px;
  margin-bottom: 24px;
  width: fit-content;
}
.events-news h1 {
  color: #d6d6d6;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  text-align: center;
  font-weight: 500;
}
.events-news p {
  padding-left: 68px;
  padding-right: 68px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  font-size: 24px;
  color: #929292;
}
.events-news .vr-carousel {
  padding-top: 15px;
  perspective: 2800px;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.events-news .carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  padding-bottom: 120px;
  padding-top: 120px;
}
.events-news .card {
  position: absolute;
  width: 590px;
  height: 780px;
  background: #0194c0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.events-news .card:hover {
  background-color: #3516ce;
}
.events-news .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.events-news .info h1 {
  font-size: 28px;
}
.events-news .info p {
  font-size: 18px;
}

h1 {
  color: #d6d6d6;
}

.about-us {
  padding-top: 228px;
  background-color: #101014;
  padding-bottom: 580px;
}
.about-us .container-about-us {
  padding: 0 68px 0 0;
  border-radius: 18px;
  display: flex;
  align-items: center;
}
.about-us h2 {
  color: #5b5c60;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}
.about-us h1 {
  color: #d6d6d6;
  font-size: 48px;
  font-weight: 500;
}
.about-us p {
  margin-top: 24px;
  font-size: 24px;
  color: #929292;
}
.about-us button {
  margin-top: 48px;
  font-size: 18px;
  background-color: #3E1CE6;
  border: none;
  cursor: pointer;
  padding: 16px;
  color: #d6d6d6;
  border-radius: 12px;
}
.about-us button:hover {
  background-color: #3516ce;
}
.about-us .about-right {
  margin-right: 48px;
  background-color: #101113;
  border: 1px solid #1A1B1D;
  width: 90%;
  height: 580px;
}

footer {
  background-color: #101113;
  border: 1px solid #1A1B1D;
  height: 100%;
  width: 100%;
  padding-left: 68px;
  padding-right: 68px;
}
footer img {
  width: 38px;
  cursor: pointer;
}
footer img:hover {
  filter: brightness(18);
}
footer p {
  padding-top: 28px;
  padding-bottom: 18px;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  color: #d6d6d6;
}
footer .separator {
  height: 1.2px;
  background-color: #6d6d6d;
}
footer .container-bottom-footer {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container-bottom-footer button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 18px 0 18px 0;
  background-color: #373737;
  font-size: 18px;
  border: none;
  padding: 16px;
  border-radius: 12px;
  color: #d6d6d6;
}
footer .container-bottom-footer img {
  width: 26px;
  margin-left: 12px;
}
footer .icons {
  margin-top: 24px;
  margin-bottom: 24px;
}

/*# sourceMappingURL=main.css.map */
