@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul, li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  background: #ffffff;
}

li, h1, h2, p, div, button {
  font-family: Outfit;
  font-weight: 400;
}

#navbar {
  margin-top: 26px;
  top: 0;
  right: calc(width);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 1.2%;
  font-size: 18px;
}
#navbar ul {
  backdrop-filter: blur(10px);
  background-color: rgba(26, 27, 29, 0.3843137255);
  border: 0.3px solid #25262a;
  border-radius: 12px;
  padding: 18px;
  display: flex;
  flex-direction: row;
  color: #a9a9a9;
  gap: 42px;
}
#navbar li {
  cursor: pointer;
}
#navbar li:hover {
  color: #3E1CE6;
}

.logo img {
  width: 62px;
  height: 62px;
  cursor: pointer;
}

.home {
  height: 100vh;
  background-color: #000000;
}

.options-nav {
  display: block;
}

#margin-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 100px;
}

.focus-area-hover {
  top: 4%;
  left: 0;
  position: fixed;
  height: 24px;
  width: 100%;
  background-color: transparent;
}
.focus-area-hover:hover ~ .dropdown .window {
  display: block;
}

.window {
  margin-top: 18.5px;
  top: 100%;
  right: 0;
  position: absolute;
  display: none;
  background-color: rgba(26, 27, 29, 0.3843137255);
  border: 0.3px solid #25262a;
  border-radius: 12px;
  color: #a9a9a9;
}
.window p {
  padding: 8px;
  width: 82px;
  cursor: pointer;
}
.window p:hover {
  background-color: rgb(169, 169, 169);
  display: block;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.dropdown:hover .window {
  display: block;
}

.contact-us-btn {
  width: 180px;
  background-color: #3E1CE6;
  border: none;
  cursor: pointer;
  padding: 18px;
  border-radius: 12px;
  color: #d6d6d6;
  font-size: 18px;
}
.contact-us-btn:hover {
  background-color: #3516ce;
}

#drop-language {
  cursor: pointer;
}

#ventages {
  height: 100vh;
}

.outline {
  border: 1px solid #1A1B1D;
  padding: 18px;
  border-radius: 12px;
  background-color: #101113;
}

#title-home {
  margin-top: 94px;
  font-size: 48px;
  font-weight: 500;
  width: 64%;
  margin-bottom: 24px;
  color: #d6d6d6;
}

#description-home {
  font-size: 28px;
  width: 54%;
  color: #929292;
  margin-bottom: 24px;
}

.home h2 {
  font-size: 24px;
  color: #929292;
  font-weight: 400;
  margin-top: 32px;
}

.wrapper-cards {
  margin-top: 24px;
  height: 180px;
  display: grid;
}

.card {
  height: 100%;
  width: 58%;
  background-color: #101113;
  color: #d6d6d6;
}

.outline-home-btn {
  width: 18%;
  background-color: transparent;
  border: 1px solid #a9a9a9;
  cursor: pointer;
  padding: 18px;
  border-radius: 12px;
  color: #a9a9a9;
  font-size: 18px;
}

.home-btn {
  width: 18%;
  background-color: #3E1CE6;
  border: none;
  cursor: pointer;
  padding: 18px;
  border-radius: 12px;
  color: #d6d6d6;
  font-size: 18px;
}
.home-btn:hover {
  background-color: #3516ce;
}

.wrapper-btns {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  gap: 0.5%;
}

/*# sourceMappingURL=main.css.map */
