@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');



li,h1,h2,p,div,button{
    font-family: Outfit;
    font-weight: 400;
}

