@use "../abstracts/variables" as var;

.about-wrapper {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.snap-area {
    height: 100vh;
    scroll-snap-align: start;
}

.about-dynamic {
    position: fixed;
    left: 5%;
    bottom: 10%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-titles {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .changing-title {
        font-size: 18px;
        color: var.$TXT-MAIN-COLOR;
        transition: all 600ms ease-in-out;
    }

    .active {
        font-size: 68px;
        opacity: 1;
        color: #fff;
        font-weight: 600;
    }
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.desc {
    width: 85%;
    font-size: 20px;
    color: var.$TXT-MAIN-COLOR;

    line-height: 1.1;
}