@use "../abstracts/variables" as var;

#navbar {
    top: 0;
    right: calc(width);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    background-color: var.$BKGROUND-MAIN;
    backdrop-filter: blur(10px);
    z-index: 3;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    padding-bottom: 14px;

    ul {
        display: flex;
        flex-direction: row;
        color: #a9a9a9;
        gap: 42px;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0;

        img {
            margin: 0;
            margin-top: 3px;
            width: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    li:hover {
        color: white;
    }

}

.logo {
    display: flex;

    img {
        width: 148px;
        cursor: pointer;
        margin-right: 124px
    }
}



.home {
    height: 100vh;
    background-color: var.$BKGROUND-MAIN;
}

.anim-mouse {
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 58px;
    right: 50%;
    transform: translateX(50%);
    z-index: 99;
    height: 74px;
    width: 48px;
    border-radius: 33px;
    border: 3px solid #d6d6d6;
    opacity: 0;
    transition: opacity 0.6s ease;

    &:hover {
        border: 3px solid #d6d6d69e;
    }
}

.anim-mouse.show {
    opacity: 1;
}

.mouser-int {
    width: 12px;
    height: 12px;
    background-color: #d6d6d6;
    border-radius: 100%;
    animation: scrollDown 1.5s infinite ease-in-out;
}

@keyframes scrollDown {
    0% {
        transform: translateY(-10px);
        opacity: 0.3;
    }

    50% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0.3;
    }
}


.options-nav {
    display: block;
}

#margin-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 100px;
}


.focus-area-hover {
    top: 4%;
    left: 0;
    position: fixed;
    height: 24px;
    width: 100%;
    background-color: transparent;

    &:hover~.dropdown .window {
        display: block;
    }
}


.window {
    margin-top: 18.5px;
    top: 100%;
    right: 0;
    position: absolute;
    display: none;
    background-color: #1a1b1d62;
    border: 0.3px solid #25262a;
    border-radius: 12px;
    color: #a9a9a9;

    p {
        padding: 8px;
        width: 82px;
        cursor: pointer;

        &:hover {
            background-color: rgb(169, 169, 169);
            display: block;
        }
    }
}

.dropdown {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    position: relative;

    &:hover .window {
        display: block;
    }
}

.contact-us-btn {
    width: 180px;
    background-color: var.$BTN-COLOR-MAIN;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: var.$RADIUS-BRD-BTN;
    color: var.$TXT-BTN-COLOR;
    font-size: 18px;

    &:hover {
        background-color: #3516ce;
    }

}

#drop-language {
    cursor: pointer;
}

.outline {
    border: 1px solid var.$BORD_COLOR;
    padding: var.$PADDING-BTN;
    border-radius: var.$RADIUS-BRD-BTN;
    background-color: var.$BKGROUND-COLR-CARD;
}

#title-home {
    margin-top: 94px;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 24px;
    color: var.$TXT-TITLE-COLOR;
}

#description-home {
    font-size: 20px;
    width: 54%;
    color: var.$TXT-MAIN-COLOR;
    margin-bottom: 24px;
}


.outline-home-btn {
    width: fit-content;
    border: 1px solid var.$BORD_COLOR;
    background-color: var.$BKGROUND-COLR-CARD;
    cursor: pointer;
    padding: var.$PADDING-BTN;
    border-radius: var.$RADIUS-BRD-BTN;
    color: var.$TXT-TITLE-COLOR;
    font-size: 18px;
}

.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var.$BTN-COLOR-MAIN;
    border: none;
    cursor: pointer;
    padding: var.$PADDING-BTN;
    border-radius: var.$RADIUS-BRD-BTN;
    color: var.$TXT-BTN-COLOR;
    font-size: 18px;
    gap: 10px;

    &:hover {
        background-color: #3516ce;
    }
}

.wrapper-btns {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 0.8%;
}


/// TRUSTED CARD COMPANIES

.trusted-companies {
    background-color: var.$BKGROUND-MAIN;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h2 {
    font-size: 24px;
    color: #929292;
    font-weight: 400;
    margin-top: 32px;
}

.wrapper-companies-trusted {
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 474px;
    width: 100%;
    font-size: 24px;

    h2 {
        margin-top: 24px;
        text-align: center;
        color: #d6d6d6;
        font-weight: 400
    }
}

.data-companies-trusted {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 32px;
    color: #929292;
    font-size: 18px;

    #data {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            width: 28px;
        }
    }
}

.wrapper-images-trusted {
    width: 100%;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-companies-trusted {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 24px;
    padding-right: 24px;

    img {
        margin: 24px;
        width: 9%;
        filter: brightness(0) invert(1);
    }
}


/// PRODUDCT DESCRIPTION

.w100 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-description {
    background-color: var.$BKGROUND-MAIN;

    p {
        line-height: 1.1;
        text-align: left;
        display: flex;
        justify-content: center;
        margin-top: 18px;
        font-size: 24px;
        color: #929292;
    }

    h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d6d6d6;
    }




    .chip {
        font-size: 18px;
        color: #d6d6d6;
        justify-content: center;
        border: 1px solid #1CE6D0;
        border-radius: 32px;
        padding: 12px;
        margin-bottom: 24px;
    }

    .wrapper-card-products {
        padding: 68px 68px 0 68px;
        display: flex;
        gap: 28px;

    }

    .card-voice {
        width: 40%;
        height: 484px;
        border-radius: 18px;
        background-color: #0194c0;
        padding: 24px;

        h2 {
            font-size: 32px;
            color: #d6d6d6;
            margin-top: 52px;
            font-weight: 500;
        }

        p {
            font-size: 20px;
            text-align: left;
        }

        span {

            color: #d6d6d6;
        }


    }

    .card-message {

        padding: 24px;
        border: 2px solid var.$BORD_COLOR;
        background-color: var.$BKGROUND-COLR-CARD;
        border-radius: 18px;
        width: 60%;

        h1 {
            display: flex;
            justify-content: start;
            margin-top: 32px;
            margin-bottom: 32px;
        }

        span {
            color: var.$TXT-TITLE-COLOR;
        }

        h2 {
            margin-top: 32px;
            font-size: 32px;
            font-weight: 500;
            color: var.$TXT-TITLE-COLOR;
        }

        p {
            font-size: 20px;
            text-align: left;
        }


    }

    .product-data {
        margin-top: 32px;
        display: flex;
        align-items: baseline;

        img {
            width: 20px;
        }

        h1 {
            margin: 0;
        }
    }


    .features-product {
        padding-left: 68px;
        padding-right: 68px;
        display: flex;
        width: 100%;
        gap: 32px;

        .feature {
            width: 25%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: end;
            height: 322px;

            h1 {
                text-align: left;
                font-size: 26px;
            }

            p {
                font-size: 18px;
                text-align: left;
            }

            img {
                width: 32%;
                margin-bottom: 48px;
            }
        }
    }

    .know-u-product {
        padding: 148px 68px 0 68px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            text-align: left;
        }

        .wrapper-bento {
            background-color: transparent;
            width: 100%;
            margin-top: 50px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* 3 columnas flexibles */
            grid-auto-rows: 384px;
            gap: 28px;
        }

        .card-bento {
            background-color: var.$BKGROUND-COLR-CARD;
            border-radius: 12px;
            border: 2px solid var.$BORD_COLOR;
            cursor: pointer;
            transition: all trasnform ease-in-out;

            &:hover {
                transition: all ease-out 550ms;
                transform: scale(1.01);
            }
        }

        /* Control individual mediante grid */
        .card-bento:nth-child(1) {
            grid-column: span 1;
            display: flex;
            align-items: flex-end;
            background-color: #5BE3A5;

            h2 {
                color: var.$BKGROUND-MAIN;
            }

            p {
                color: var.$BKGROUND-MAIN;
            }

            /* ocupa 2 columnas */
        }

        .card-bento:nth-child(2) {
            grid-column: span 2;
            /* ocupa 1 columna */
        }

        .card-bento:nth-child(3) {
            grid-column: span 2;
        }

        .card-bento:nth-child(4) {
            grid-column: span 1;
            background-color: var.$TXT-TITLE-COLOR;

            h2 {
                color: var.$BKGROUND-MAIN;
            }

            p {
                color: var.$BKGROUND-MAIN;
            }

        }

        .info-bento {
            padding: 36px;

            h2 {
                color: var.$TXT-TITLE-COLOR;
                font-size: 21px;
                font-weight: 500;
            }

            p {
                color: var.$TXT-MAIN-COLOR;
                font-size: 18px;

            }
        }

    }

    .description-message-container {
        padding-top: 168px;

        .tile-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 68px;
            width: fit-content;
        }

        h1 {
            text-align: left;
            color: var.$TXT-TITLE-COLOR;
        }

        p {
            width: 628px;
            color: var.$TXT-MAIN-COLOR;
        }

        .absolute-container {
            position: relative;
            overflow: hidden;
            /* importante para que el degradado no sobresalga */
        }

        .absolute-container::before,
        .absolute-container::after {
            content: "";
            position: absolute;
            top: 0;
            width: 848px;
            /* ancho del degradado en los bordes */
            height: 100%;
            z-index: 2;
            pointer-events: none;
            /* permite seguir arrastrando */
        }

        .absolute-container::before {
            left: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
        }

        .absolute-container::after {
            right: 0;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
        }


        .wrapper-cards-mov {
            display: flex;
            align-items: flex-end;
            gap: 28px;
            cursor: grab;
            user-select: none;
            overflow: hidden;
            margin-top: 48px;
        }

        .card-mov-right {
            flex: 0 0 380px;
            height: 348px;
            border-radius: var.$RADIUS-BRD-BTN;
            background-color: var.$BKGROUND-COLR-CARD;
            border: 2px solid var.$BORD_COLOR;
            transition: transform 0.2s ease-out;

            &:hover {
                background-color: var.$HOVER_COLOR;
            }
        }

        .card-mov-right .info {
            padding: 28px;
            display: flex;
            flex-direction: column;
        }

        .card-mov-right h2 {
            font-size: 22px;
            color: var.$TXT-TITLE-COLOR;
        }

        .card-mov-right p {
            font-size: 18px;
            margin-top: 10px;
        }


    }

    .container-btn-change {
        display: flex;


        h1 {
            padding: 8px;
            font-size: 21px;

        }

        span {
            width: 100%;
            color: #a9a9a9;
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .option-visible {
            cursor: pointer;
            width: 124px;
            color: #d6d6d6;
            background-color: #3E1CE6;


        }

        .option-hidden {
            padding-left: 20px;
            cursor: pointer;
            width: 124px;
            color: #5b5c60;

            &:hover {
                color: #a9a9a9;
            }
        }

    }

    .container-drops {
        padding-top: 28px;
        border-top: 1px solid #1A1B1D;
    }

}

.events-news {
    background-color: var.$BKGROUND-MAIN;
    padding-top: 132px;


    .chip {
        font-size: 18px;
        color: #d6d6d6;
        justify-content: center;
        border: 1px solid #1CE6D0;
        border-radius: 32px;
        padding: 12px;
        margin-bottom: 24px;
        width: fit-content;
    }


    h1 {

        color: #d6d6d6;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        text-align: center;
        font-weight: 500;

    }

    p {
        padding-left: 68px;
        padding-right: 68px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 18px;
        font-size: 24px;
        color: #929292;
    }

    .vr-carousel {
        padding-top: 15px;
        perspective: 2800px;
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .carousel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        transform-style: preserve-3d;
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .card {
        position: absolute;
        width: 590px;
        height: 780px;
        background: #0194c0;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        transition: opacity 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: #3516ce;
        }
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 18px;
    }

    .info {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
        }
    }

}

h1 {
    color: #d6d6d6;
}

.about-us {
    padding-top: 228px;
    background-color: var.$BKGROUND-MAIN;
    padding-bottom: 580px;

    .container-about-us {
        padding: 0 68px 0 0;
        border-radius: 18px;
        display: flex;
        align-items: center;
    }

    h2 {
        color: #5b5c60;
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 500;
    }

    h1 {
        color: #d6d6d6;
        font-size: 48px;
        font-weight: 500;
    }

    p {
        margin-top: 24px;
        font-size: 24px;
        color: #929292;

    }


    button {
        margin-top: 48px;
        font-size: 18px;
        background-color: #3E1CE6;
        border: none;
        cursor: pointer;
        padding: 16px;
        color: #d6d6d6;
        border-radius: 12px;

        &:hover {
            background-color: #3516ce;
        }
    }

    .about-right {
        margin-right: 48px;
        background-color: #101113;
        border: 1px solid #1A1B1D;
        width: 90%;
        height: 580px;
    }
}