@use "../abstracts/variables" as var;

#navbar {
    top: 0;
    right: calc(width);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 0.5%;
    font-size: var.$FTSIZE-MEDIUM;


    ul {
        display: flex;
        flex-direction: row;
        gap: 42px;
    }

    li {
        cursor: pointer;
    }

    li:hover {
        color: blue;
    }
}

.safe-area {
    display: block;
    padding-bottom: 52px;
}

.home {
    height: 100vh;

}

.options-nav {
    display: block;
}

#margin-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 100px;
}


.focus-area-hover {
    top: 4%;
    left: 0;
    position: fixed;
    height: 24px;
    width: 100%;
    background-color: transparent;

    &:hover ~ .dropdown .window {
        display: block;
    }
}


.window {
    margin-top: 18.5px;
    top: 100%;
    right: 0;
    position: absolute;
    display: none;
    border: 1px solid black;

    p {
        padding: 8px;
        width: 82px;
        cursor: pointer;

        &:hover {
            background-color: rgb(169, 169, 169);
            display: block;
        }
    }
}

.dropdown {
    position: relative;

    &:hover .window {
        display: block;
    }
}

#drop-language {
    cursor: pointer;
}