@use "../abstracts/variables" as var;

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*     background-color: var(--BKGROUND-MAIN);
    backdrop-filter: blur(10px); */
    z-index: 3;
    padding: 26px 48px 14px;

    .options-nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 42px;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: white;
        transition: all 0.2s ease-in-out;

        img {
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2px;
            width: 18px;
        }

        &:hover {
            color: #a9a9a9;
        }
    }
}

.btn-black {
    width: fit-content;
    background-color: var.$BTN-COLOR-BLACK;
    border: none;
    cursor: pointer;
    border-radius: var.$RADIUS-BRD-BTN;
    color: white;
    font-size: 18px;
    padding: var.$PADDING-BTN;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var.$HOVER_COLOR;
    }
}

.expand-btn-global {
    width: fit-content;
    background-color: var.$BTN-COLOR-BLACK;
    border: none;
    cursor: pointer;
    border-radius: var.$RADIUS-BRD-BTN;
    color: white;
    font-size: 18px;
    padding: var.$PADDING-BTN;
    transition: all 0.2s ease-in-out;
    font-weight: 500;

    &:hover {
        background-color: var.$HOVER_COLOR;
    }
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 12px 12px;
    background: linear-gradient(to bottom, transparent 40%, var.$BKGROUND-COLR-CARD 100%);
}

.logo {
    display: flex;

    img {
        width: 128px;
        cursor: pointer;
        margin-right: 64px
    }
}



.home {
    height: 100vh;
    background-color: var.$BKGROUND-MAIN;
}

.anim-mouse {
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 58px;
    right: 50%;
    transform: translateX(50%);
    z-index: 99;
    height: 74px;
    width: 48px;
    border-radius: 33px;
    border: 3px solid #d6d6d6;
    opacity: 0;
    transition: opacity 0.6s ease;

    &:hover {
        border: 3px solid #d6d6d69e;
    }
}

.anim-mouse.show {
    opacity: 1;
}

.mouser-int {
    width: 12px;
    height: 12px;
    background-color: #d6d6d6;
    border-radius: 100%;
    animation: scrollDown 1.5s infinite ease-in-out;
}

@keyframes scrollDown {
    0% {
        transform: translateY(-10px);
        opacity: 0.3;
    }

    50% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0.3;
    }
}


#margin-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 100px;
}



.drop.active .window {
    display: block;
}


.window {
    margin-top: 18.5px;
    position: absolute;
    right: 0;
    display: none;
    background-color: #1a1b1d62;
    border: 0.3px solid #25262a;
    border-radius: 12px;
    color: #a9a9a9;

    p {
        padding: 8px;
        width: 124px;
        cursor: pointer;

        &:hover {
            background-color: #2b2b2b;
            display: block;
            font-weight: bold;
        }

        &:nth-child(1):hover {
            border-radius: 12px 12px 0 0;
            font-weight: bold;
        }

        &:nth-child(3):hover {
            border-radius: 0 0 12px 12px;
            font-weight: bold;
        }
    }
}

.right-btns-nav {
    display: flex;
    gap: 16px;
    height: 32px;
}

.dropdown {
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;

    img {
        width: 32px;
    }
}

.global-btn {
    width: fit-content;
    background-color: var.$BTN-COLOR-MAIN;
    border: none;
    cursor: pointer;
    border-radius: var.$RADIUS-BRD-BTN;
    color: var.$TXT-BTN-COLOR;
    font-size: 18px;
    padding: var.$PADDING-BTN;
    transition: all 0.2s ease-in-out;
    font-weight: 500;

    &:hover {
        background-color: var.$HOVER_BTN_MAIN;
    }
}

#contact-us-btn,
#world-btn {
    padding: 3px 12px 3px 12px;
    font-size: 18px;
    font-weight: 500;
}

.drop {
    cursor: pointer;
}

.outline {}

#title-home {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 24px;
    color: var.$TXT-TITLE-COLOR;
}

#description-home {
    font-size: 22px;
    width: 84%;
    color: var.$TXT-MAIN-COLOR;
    margin-bottom: 24px;
    line-height: 1.3;
}


.outline-home-btn {
    width: fit-content;
    border: 2px solid var.$BORD_COLOR;
    background-color: transparent;
    cursor: pointer;
    border-radius: var.$RADIUS-BRD-BTN;
    color: var.$TXT-TITLE-COLOR;
    font-size: 18px;
    padding: var.$PADDING-BTN;

    &:hover {
        background-color: var.$HOVER_COLOR;
    }
}

.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var.$BTN-COLOR-MAIN;
    border: none;
    cursor: pointer;
    padding: var.$PADDING-BTN;
    border-radius: var.$RADIUS-BRD-BTN;
    color: var.$TXT-BTN-COLOR;
    font-size: 18px;
    gap: 10px;

    &:hover {
        background-color: var.$HOVER_BTN_MAIN;
    }
}

.wrapper-btns {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 0.8%;
}


/// TRUSTED CARD COMPANIES

.trusted-companies {
    background-color: var.$BKGROUND-MAIN;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h2 {
    font-size: 24px;
    color: #929292;
    font-weight: 400;
    margin-top: 32px;
}

.wrapper-companies-trusted {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: 100%;
    background-color: var.$BKGROUND-COLR-CARD;
    margin-bottom: 198px;

    h2 {
        font-size: 26px;
        text-align: center;
        color: #d6d6d6;
        font-weight: 400
    }
}

.data-companies-trusted {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin-top: 32px;
    color: #929292;
    font-size: 18px;

    #data {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            width: 0px;
        }
    }
}

.wrapper-images-trusted {
    width: 100%;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-companies-trusted {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 24px;
    padding-right: 24px;

    img {
        margin: 24px;
        width: 9%;
        filter: brightness(0) invert(1);
    }
}


/// PRODUDCT DESCRIPTION

.align-bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 18px;


    h1 {
        margin: 0 !important;
        font-weight: 500;
    }

    h2 {
        margin-top: 0 !important;
        font-weight: 500;
    }

    h3 {
        font-size: 20px;
        color: var.$TXT-TITLE-COLOR;
        font-weight: 500;
        line-height: 1.2;
    }
}

.w100 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-description {
    background-color: var.$BKGROUND-MAIN;

    p {
        line-height: 1.1;
        text-align: left;
        display: flex;
        justify-content: center;
        margin-top: 18px;
        font-size: 22px;
        color: #929292;
    }

    h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d6d6d6;
    }




    .chip {
        font-size: 18px;
        color: #d6d6d6;
        justify-content: center;
        border: 1px solid #1CE6D0;
        border-radius: 32px;
        padding: 12px;
        margin-bottom: 24px;
    }

    .wrapper-card-products {
        padding: 68px 68px 0 68px;
        display: flex;
        gap: 28px;

    }

    .card-voice {
        cursor: pointer;
        width: 40%;
        height: 484px;
        border-radius: 18px;
        background-color: #0194c0;
        padding: 38px;


        span {
            font-size: 18px;
            color: #d6d6d6;
        }

        &:hover {
            transform: scale(1.02);
            transition: all 0.5s;
        }

    }

    .card-message {
        cursor: pointer;
        padding: 38px;
        border: 2px solid var.$BORD_COLOR;
        background-color: var.$BKGROUND-COLR-CARD;
        border-radius: 18px;
        width: 60%;

        span {
            font-size: 18px;
            color: var.$TXT-TITLE-COLOR;
        }

        h2 {
            color: var.$TXT-TITLE-COLOR;
        }

        p {
            font-size: 20px;
            text-align: left;
        }

        &:hover {
            transform: scale(1.02);
            transition: all 0.5s;
        }


    }

    .counter h1 {
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .counter h1.enter {
        opacity: 1;

    }

    .counter h1.exit {
        opacity: 0;
    }


    .vertical-text span {
        position: absolute;
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s ease-in-out;
    }

    .vertical-text span.active {
        opacity: 1;
        transform: translateY(0);
    }

    .vertical-text span.exit {
        opacity: 0;
        transform: translateY(-20px);
    }

    .vertical-text h2 {
        height: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        font-size: 32px;
    }

    .vertical-text h2.active {
        opacity: 1;
    }

    .vertical-text h2.fade {
        opacity: 0;
    }



    .number-data {
        margin-bottom: 18px;
        display: flex;
        align-items: baseline;

        #number-callers {
            margin-left: 12px;
        }
    }



    .features-product {
        padding-top: 24px;
        padding-bottom: 94px;
        padding-left: 68px;
        padding-right: 68px;
        display: flex;
        width: 100%;
        gap: 32px;

        .feature {
            width: 25%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: end;
            height: 322px;

            h1 {
                text-align: left;
                font-size: 24px;
            }

            p {
                font-size: 18px;
                text-align: left;
            }

            img {
                width: 32%;
                margin-bottom: 48px;
            }
        }
    }

    .know-u-product {
        padding: 148px 68px 0 68px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            text-align: left;
        }


        .scroll-wrapper {
            margin-top: 94px;
            margin-bottom: 94px;
            position: relative;
            width: 100%;
            height: 684px;
            overflow: hidden;
        }


        .scroll-container {
            position: relative;
            width: 100%;
            height: 884px;
            overflow-y: scroll;
            scrollbar-width: none;

        }

        .scroll-container::-webkit-scrollbar {
            display: none;
        }


        .masonry {
            column-count: 3;
            column-gap: 10px;
        }

        .card-image {
            width: 100%;
            border-radius: var.$RADIUS-BRD-BTN;
            object-fit: cover;
            height: 348px;

            h3{
                z-index: 1000;
                padding: 12px;
                font-size: 18px;
                color: var.$TXT-INVERT-COLOR;
                display: flex;
                align-items: end;
                justify-content: start;
                height: 100%;
            }
        }


        .card {
            width: 100%;
            border-radius: 12px;
            transition: transform 0.2s ease;
            cursor: pointer;
            break-inside: avoid;
            padding: 8px;
            transition: all 0.5 ease-in-out;

            .expand-btn-global {
                opacity: 0;
                display: none;
            }
            .overlay{
                display: none;
            }
        }

        .card.active {
            .overlay{
                display: block;
            }
            .expand-btn-global {
                transition: all 0.5 ease-in;
                opacity: 1;
                display: block;
            }
        }

        .card-content {
            object-fit: cover;
            box-sizing: border-box;
            padding: 12px;

            h3 {
                font-size: 18px;
                color: blue;
            }

            p {

                font-size: 16px;

            }
        }

        .fade-top,
        .fade-bottom {
            position: absolute;
            left: 0;
            width: 100%;
            height: 248px;
            z-index: 2;
        }


        .fade-top {
            pointer-events: none;
            top: 0;
            background: linear-gradient(to bottom, (var.$BKGROUND-MAIN), transparent);
        }

        .fade-bottom {
            pointer-events: none;
            bottom: 0;
            background: linear-gradient(to top, (var.$BKGROUND-MAIN), transparent);
        }


    }

    .description-message-container {
        padding-top: 168px;
        background-color: var.$BKGROUND-MAIN;

        .tile-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 68px;
            width: fit-content;
        }

        h1 {
            text-align: left;
            color: var.$TXT-TITLE-COLOR;
        }

        p {
            width: 628px;
            color: var.$TXT-MAIN-COLOR;
        }

        .absolute-container {
            margin-bottom: 184px;
            position: relative;
            overflow: hidden;
            background-color: var.$BKGROUND-MAIN;
        }

        .absolute-container::before,
        .absolute-container::after {
            content: "";
            position: absolute;
            top: 0;
            width: 348px;
            height: 100%;
            z-index: 2;
            pointer-events: none;
        }

        .absolute-container::before {
            left: 0;
            background: linear-gradient(to right, (var.$BKGROUND-MAIN), transparent);
        }

        .absolute-container::after {
            right: 0;
            background: linear-gradient(to left, (var.$BKGROUND-MAIN), transparent);
        }


        .wrapper-cards-mov {
            display: flex;
            align-items: flex-end;
            gap: 28px;
            cursor: grab;
            user-select: none;
            overflow: hidden;
            margin-top: 48px;
        }

        .card-mov-right {
            flex: 0 0 380px;
            height: 348px;
            border-radius: var.$RADIUS-BRD-BTN;
            background-color: var.$BKGROUND-COLR-CARD;
            border: 2px solid var.$BORD_COLOR;
            transition: transform 0.2s ease-out;

            &:hover {
                background-color: var.$HOVER_COLOR;
            }
        }

        .card-mov-right .info {
            padding: 28px;
            display: flex;
            height: 100%;
        }

        .card-mov-right h2 {
            display: flex;
            align-items: end;
            justify-content: center;
            font-size: 22px;
            color: var.$TXT-TITLE-COLOR;
            
        }

        .card-mov-right p {
            font-size: 18px;
            margin-top: 10px;
        }


    }

    .container-btn-change {
        display: flex;


        h1 {
            padding: 8px;
            font-size: 21px;

        }

        span {
            width: 100%;
            color: #a9a9a9;
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .option-visible {
            cursor: pointer;
            width: 124px;
            color: #d6d6d6;
            background-color: #3E1CE6;


        }

        .option-hidden {
            padding-left: 20px;
            cursor: pointer;
            width: 124px;
            color: #5b5c60;

            &:hover {
                color: #a9a9a9;
            }
        }

    }

    .container-drops {
        padding-top: 28px;
        border-top: 1px solid #1A1B1D;
    }

}

.events-news {
    background-color: var.$BKGROUND-MAIN;
    padding-top: 132px;


    .chip {
        font-size: 18px;
        color: #d6d6d6;
        justify-content: center;
        border: 1px solid #1CE6D0;
        border-radius: 32px;
        padding: 12px;
        margin-bottom: 24px;
        width: fit-content;
    }


    h1 {

        color: #d6d6d6;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        text-align: center;
        font-weight: 500;

    }

    p {
        padding-left: 68px;
        padding-right: 68px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 18px;
        font-size: 24px;
        color: #929292;
    }

    .vr-carousel {
        padding-top: 15px;
        perspective: 2800px;
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .carousel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        transform-style: preserve-3d;
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .card {
        position: absolute;
        width: 590px;
        height: 780px;
        background: #0194c0;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        transition: opacity 0.3s ease;
        cursor: pointer;



        &:hover {
            background-color: #3516ce;
        }
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 18px;
    }

    .info {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
        }
    }

}

h1 {
    color: #d6d6d6;
}

.about-us {
    padding-top: 228px;
    background-color: var.$BKGROUND-MAIN;
    padding-bottom: 348px;
    padding-left: 68px;

    .container-about-us {
        border-radius: 18px;
        display: flex;
        align-items: center;
    }

    h2 {
        color: var.$TXT-TITLE-COLOR;
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 500;
    }

    h1 {
        color: #d6d6d6;
        font-size: 48px;
        font-weight: 500;
    }

    p {
        margin-top: 24px;
        font-size: 24px;
        color: #929292;

    }


    button {
        margin-top: 48px;
        font-size: 18px;
        background-color: #3E1CE6;
        border: none;
        cursor: pointer;
        padding: 16px;
        color: #d6d6d6;
        border-radius: 12px;

        &:hover {
            background-color: #3516ce;
        }
    }

    .about-right {
        margin-right: 48px;
        background-color: #101113;
        border: 1px solid #1A1B1D;
        width: 90%;
        height: 580px;
    }

    .wrapper-map {
        margin-top: 48px;
        width: 100%;

        padding-right: 68px;
    }

    .container-map {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 484px;
        border: 1px solid blue;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: var.$RADIUS-BRD-BTN;
        background-color: var.$BKGROUND-COLR-CARD;
        border: 1px solid var.$BORD_COLOR;


    }


    .dinamyc-map {
        width: 75%;
        margin-right: -128px;
        object-fit: cover;
    }

    .info-wrap-map {
        margin-left: 48px;

        h2 {
            color: var.$TXT-INVERT-COLOR;
            font-size: 21px;
        }

        p {
            font-size: 18px;
            color: var.$TXT-MAIN-COLOR;
        }

    }

}


.support-demo {
    height: 548px;
    background-color: var.$BKGROUND-COLR-CARD;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 48px;
        font-weight: 600;
    }
}